allure-pytest==2.14.3
allure-python-commons==2.14.3
altgraph==0.17.4
attrs==25.3.0
bottle==0.13.4
certifi==2025.7.14
charset-normalizer==3.4.2
construct==2.10.70
HeapDict==1.0.1
idna==3.10
iniconfig==2.1.0
Jinja2==3.1.6
macholib==1.16.3
MarkupSafe==3.0.2
packaging==25.0
pluggy==1.6.0
protobuf==6.31.1
proxy_tools==0.1.0
pygame==2.6.1
Pygments==2.19.2
pyinstaller==6.14.2
pyinstaller-hooks-contrib==2025.7
pyobjc-core==11.1
pyobjc-framework-Cocoa==11.1
pyobjc-framework-Quartz==11.1
pyobjc-framework-Security==11.1
pyobjc-framework-WebKit==11.1
pytest==8.4.1
pytest-html==4.1.1
pytest-metadata==3.1.1
pywebview==5.4
requests==2.32.4
setuptools==80.9.0
typing_extensions==4.14.1
urllib3==2.5.0
